[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
form = "*"
matplotlib = "*"
psycopg2-binary = "==2.8.6"
whitenoise = "==5.1.0"
django-matplotlib = "*"
gunicorn = "==19.9.0"

[dev-packages]

[requires]
python_version = "3.9"

[packages.environs]
extras = [ "django",]
version = "==8.0.0"
