<div class="ui blue inverted borderless menu fixed top">
    <div class="ui container">
        <a class="item" href="{% url 'lmdb:home' %}" id="home_page">
            Home
        </a>
        <a class="item" href="{% url 'lmdb:filmes' %}" id="filmes_page">
            Filmes
        </a>
        <a class="item" href="{% url 'lmdb:streaming' %}" id="streaming_page">
            Streaming
        </a>
        <a class="item" href="{% url 'lmdb:contacto' %}" id="contacto_page">
            Contacto
        </a>
        <a class="item" href="{% url 'lmdb:comentarios' %}" id="comentarios_page">
            Comentários
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui primary button">Login</div>
            </div>
        </div>
    </div>
</div>